<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>出错了</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
	</head>

	<body style="text-align: center;">
		<div class="mydiv">
			<img alt="500" src="${base}/images/500.jpg">
			<!-- #if(${error})
			<br>
			出错原因如下:
			<br>
			${error}
			#end -->
		</div>
	</body>
	
</html>