<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>小宅后台管理系统</title>

   <script src="${base}/js/common/common_index_header.js"></script>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">请登录</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="${base}/login" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="用户名" name="username" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="密码" name="password" type="password" value="">
                                </div>
                                <div class="form-group">
									<input  name="code" lay-verify="code" autocomplete="off" placeholder="验证码"  style="padding: 6px 12px;">
									<img src="${base}/getCodeImage" title="点击刷新" id="verifyImg" onclick="javascript:this.src='${base}/getCodeImage?randomStr='+Math.random()" style="float:right;">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <div class="form-group">
                               		<button v-on:keyup.enter="submit" type="submit" class="btn btn-lg btn-success btn-block form-control" style="height: 100%;">登录</button>
                                </div>
                                <#if (msg)??>
								<div class="form-group" style="margin-top: 25px;">
									<div class="form-control" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;cursor: text;">${msg}</div>
								</div>
								</#if>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
   <script src="${base}/js/common/common_index_footer.js"></script>

</body>

</html>
