<!DOCTYPE html>

<html>

	<head>
		
		<title>万事屋后台登录</title>
		
		<#include "/WEB-INF/template/common/common_header.html">
		
		<link href="css/login_pc/default.css" rel="stylesheet" type="text/css" />
		<!--必要样式-->
	    <link href="css/login_pc/styles.css" rel="stylesheet" type="text/css" />
	    <link href="css/login_pc/demo.css" rel="stylesheet" type="text/css" />
	    <link href="css/login_pc/loaders.css" rel="stylesheet" type="text/css" />
	    
	    <style type="text/css">
	    
	    	/* 解决由于bootstrap影响导致样式失效 */
	    	*, ::after, ::before {
			    box-sizing: content-box;
			}
	    
	    </style>
		
	</head>

	<body>
	
		<div class='login'>
		  <div class='login_title'>
		    <span>管理员登录</span>
		  </div>
		  <div class='login_fields'>
		    <div class='login_fields__user'>
		      <div class='icon'>
		        <img alt="" src='${base}/images/login_pc/user_icon_copy.png'>
		      </div>
		      <input name="login" placeholder='用户名' maxlength="16" type='text' autocomplete="off" value="admin"/>
		        <div class='validation'>
		          <img alt="" src='${base}/images/login_pc/tick.png'>
		        </div>
		    </div>
		    <div class='login_fields__password'>
		      <div class='icon'>
		        <img alt="" src='${base}/images/login_pc/lock_icon_copy.png'>
		      </div>
		      <input name="pwd" placeholder='密码' maxlength="16" type='text' autocomplete="off">
		      <div class='validation'>
		        <img alt="" src='${base}/images/login_pc/tick.png'>
		      </div>
		    </div>
		    <div class='login_fields__password'>
		      <div class='icon'>
		        <img alt="" src='${base}/images/login_pc/key.png'>
		      </div>
		      <input name="code" placeholder='验证码' maxlength="4" type='text' name="ValidateNum" autocomplete="off">
		      <div class='validation' style="opacity: 1; right: -5px;top: -3px;">
	          <canvas class="J_codeimg" id="myCanvas" onclick="Code();">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
		      </div>
		    </div>
		    <div class='login_fields__submit'>
		      <input type='button' value='登录'>
		    </div>
		  </div>
		  <div class='success'>
		  </div>
		  <div class='disclaimer'>
		    <p>欢迎登陆后台管理系统</p>
		  </div>
		</div>
		<div class='authent'>
		  <div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
	        <div class="loader-inner ball-clip-rotate-multiple">
	            <div></div>
	            <div></div>
	            <div></div>
	        </div>
	        </div>
		  <p>认证中...</p>
		</div>
		
		<script type="text/javascript" src="js/login_pc/jquery-ui.min.js"></script>
		<script type="text/javascript" src='js/login_pc/stopExecutionOnTimeout.js?t=1'></script>
		<script src="js/login_pc/Particleground.js" type="text/javascript"></script>
		<script src="js/login_pc/Treatment.js" type="text/javascript"></script>
		<script src="js/login_pc/jquery.mockjax.js" type="text/javascript"></script>
		
		<script type="text/javascript">
			var canGetCookie = 0;//是否支持存储Cookie 0 不支持 1 支持
			var ajaxmockjax = 1;//是否启用虚拟Ajax的请求响 0 不启用  1 启用
			
			var CodeVal = 0;
		    Code();
		    function Code() {
				if(canGetCookie == 1){
					createCode("AdminCode");
					var AdminCode = getCookieValue("AdminCode");
					showCheck(AdminCode);
				}else{
					showCheck(createCode(""));
				}
		    }
		    function showCheck(a) {
				CodeVal = a;
		        var c = document.getElementById("myCanvas");
		        var ctx = c.getContext("2d");
		        ctx.clearRect(0, 0, 1000, 1000);
		        ctx.font = "80px 'Hiragino Sans GB'";
		        ctx.fillStyle = "#E8DFE8";
		        ctx.fillText(a, 0, 100);
		    }
		    $(document).keypress(function (e) {
		        // 回车键事件  
		        if (e.which == 13) {
		            $('input[type="button"]').click();
		        }
		    });
		    //粒子背景特效
		    $('body').particleground({
		        dotColor: '#E8DFE8',
		        lineColor: '#133b88'
		    });
		    $('input[name="pwd"]').focus(function () {
		        $(this).attr('type', 'password');
		    });
		    $('input[type="text"]').focus(function () {
		        $(this).prev().animate({ 'opacity': '1' }, 200);
		    });
		    $('input[type="text"],input[type="password"]').blur(function () {
		        $(this).prev().animate({ 'opacity': '.5' }, 200);
		    });
		    $('input[name="login"],input[name="pwd"]').keyup(function () {
		        var Len = $(this).val().length;
		        if (!$(this).val() == '' && Len >= 5) {
		            $(this).next().animate({
		                'opacity': '1',
		                'right': '30'
		            }, 200);
		        } else {
		            $(this).next().animate({
		                'opacity': '0',
		                'right': '20'
		            }, 200);
		        }
		    });
	
			if(ajaxmockjax == 1){
				$.mockjax({  
					url: 'Ajax/Login',  
					status: 200,  
					responseTime: 50,          
					responseText: {"Status":"ok","Text":"登陆成功<br /><br />欢迎回来"}  
				}); 
				$.mockjax({  
					url: 'Ajax/LoginFalse',  
					status: 200,  
					responseTime: 50,          
					responseText: {"Status":"Erro","Erro":"账号名或密码或验证码有误"}
				});   
			}
	    </script>
		
		<script type="text/javascript">
			
			$(function(){
			
				//非空验证
		        $('input[type="button"]').click(function () {
		            var login = $('input[name="login"]').val();
		            var pwd = $('input[name="pwd"]').val();
		            var code = $('input[name="code"]').val();
		            if (login == '') {
		            	alert('请输入您的账号');
		            	Code();
		            } else if (pwd == '') {
		            	alert('请输入密码');
		            	Code();
		            } else if (code == '' || code.length != 4) {
		            	alert('输入验证码');
		            	Code();
		            }else if(CodeVal.toLowerCase()!=code.toLowerCase()){
	                	alert('验证码错误');
	                	Code();
	                } else {
		               
		                //登陆
		                var JsonData = { login: login, pwd: pwd, code: code };
						//此处做为ajax内部判断
						var url = "${base}/login";
						$.ajax({

					       url:url,
					       type:"post",
					       dataType:"json",
					       data:JsonData,
					       success:function(data){
					    	  //特效
					    	  specialEffect();
					          if(data.status == 1) {
					        	//登录成功
                                $('.login div').fadeOut(100);
                                $('.success').fadeIn(1000);
                                $('.success').html(data.Text);
                                window.location.href=window.location.href;
					          }else{
					        	//特效
						    	specialEffect();
					        	alert("登陆失败，请重新登陆");
					        	Code();
					          }
					       }
					    });
						
		              
		            }
		        })
				
			})
			
			function specialEffect(){
				 $('.login').addClass('test');
		    	   setTimeout(function () {
                     $('.authent').show().animate({ right: 90 }, {
                         easing: 'easeOutQuint',
                         duration: 600,
                         queue: false
                     });
                     $('.authent').animate({ opacity: 0 }, {
                         duration: 200,
                         queue: false
                     }).addClass('visible');
                     $('.login').removeClass('testtwo'); //平移特效
                 }, 5000);
			}

			
			//如果当前窗口不是顶级窗口，就强制修改为顶级窗口； 目的是为了不让别人用iframe嵌入你的页面
			if (window != top)   
				top.location.href = location.href;
			
		</script>
	</body>
</html>