<!-- 网站图标 -->
<link rel="icon" href="${base}/favicon.jpg" type="image/x-icon"/>

<!-- CSS -->
<link href="css/index_pc/bootstrap.min.css" rel="stylesheet">
<link href="css/index_pc/animate.min.css" rel="stylesheet">
<link href="css/index_pc/font-awesome.min.css" rel="stylesheet">
<link href="css/index_pc/form.css" rel="stylesheet">
<link href="css/index_pc/calendar.css" rel="stylesheet">
<link href="css/index_pc/style.css" rel="stylesheet">
<link href="css/index_pc/icons.css" rel="stylesheet">
<link href="css/index_pc/generics.css" rel="stylesheet">
<link rel="icon" href="${base}/favicon.jpg" type="image/x-icon"/>